In [1]:
print('Hello World')

Hello World

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

In [6]:
print('신씨가 소리질렀다."도둑이야"')

신씨가 소리질렀다."도둑이야"

In [9]:
print('c:\Windows')

c:\Windows

In [10]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [11]:
print ("오늘은", "일요일")

오늘은 일요일

In [14]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [15]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [17]:
print("first", end="");print("second")

firstsecond

In [19]:
print(5/3)

1.6666666666666667

In [2]:
삼성전자 = 50000
총평가금액 = (50000 * 10)
print(총평가금액)

500000

In [3]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액)

298000000000000

In [4]:
print(현재가)

50000

In [5]:
print(PER)

15.79

In [6]:
print(시가총액, type(시가총액))

298000000000000 <class 'int'>

In [7]:
print(type(시가총액))

<class 'int'>

In [8]:
print(현재가, type(현재가))

50000 <class 'int'>

In [13]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [14]:
2 + 2 *3

8

In [18]:
a = "132"
print (type(a))

<class 'str'>

In [22]:
num_str ="720"
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [23]:
num= 100
result = str(num)
print(result, type(result))

100 <class 'str'>

In [25]:
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [26]:
year = "2020"
print(int(year)-3)

2017

In [27]:
print(int(year)-2)

2018

In [28]:
print(int(year)-1)

2019

In [29]:
월 = 48584
총금액 = 월 *36
print(총금액)

1749024

In [3]:
a = "python"

In [10]:
a[0], a[2]

('p', 't')

In [11]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [18]:
a = "홀짝홀짝홀짝"
a[:1]

'홀'

In [19]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [21]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [22]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print (phone_number1)

010 1111 2222

In [23]:
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print (phone_number1)

01011112222

In [31]:
url = "http://sharebook.kr"
print(url[-2]),(url[-1])

k

(None, 'r')

In [32]:
url = "http://sharebook.kr"
url_split = url.split('.')
print(url_split[-1])

kr

In [33]:
lang ='python'
lang[0] = 'p'
print(lange)

TypeError: 'str' object does not support item assignment

In [34]:
string = 'abcdfe2a354a32a'
string = string.replace("a", "A")
print(string)

Abcdfe2A354A32A

In [35]:
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

In [36]:
a = "3"
b = "4"
print(a + b)

34

In [37]:
print("Hi" * 3)

HiHiHi

In [38]:
print("-" * 80)

--------------------------------------------------------------------------------

In [40]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' '+ t2 + ' '
print(t3 * 4)

python java python java python java python java

In [42]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [43]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [44]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [49]:
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
정수타입변환 = int(컴마제거)
print(정수타입변환, type(정수타입변환))

5969782550 <class 'int'>

In [50]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [51]:
data = "   삼성전자   "
data1 = data.strip()
print(data1)

삼성전자

In [6]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [5]:
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [8]:
a = "hello"
a = a.capitalize()
print(a)

Hello

In [9]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [14]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

In [15]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [16]:
a = "hello world"
a.split()

['hello', 'world']

In [18]:
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [19]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [22]:
data = "0339490     "
data = data.rstrip()

In [24]:
data = "0339490     "
data.rstrip(" ")

'0339490'

# 파이썬 리스트

In [ ]:
# 51 리스트 생성

In [2]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [ ]:
# 52 리스트에 원소 추가 (append)

In [3]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
# 53 (insert)

In [6]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [ ]:
# 54 (del)

In [15]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키' '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿']

In [ ]:
# 55

In [14]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [ ]:
# 56

In [16]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
# 57 (min,max)

In [18]:
nums = [1, 2, 3, 4, 5, 6, 7]
print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [ ]:
# 58 (sum)

In [19]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [ ]:
# 59 (len)

In [21]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [ ]:
# 60

In [22]:
nums = [1, 2, 3, 4, 5]
average = sum(nums)/ len(nums)
print(average)

3.0

In [ ]:
# 61 (슬라이싱)

In [2]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [ ]:
# 62

In [8]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
# 63

In [9]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
# 64

In [12]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# 65

In [13]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
# 66 (Join)

In [16]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [ ]:
# 67

In [15]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [ ]:
# 68

In [18]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
#69 (split)

In [20]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [ ]:
# 70

In [21]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

# 파이썬 튜플

In [ ]:
# 71

In [23]:
my_variable = ()

In [24]:
print(type(my_variable))

<class 'tuple'>

In [ ]:
# 72

In [25]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")

In [ ]:
# 73

In [27]:
tuple = (1)
type(tuple)

int

In [28]:
tuple =(1, )
type(tuple)

tuple

In [ ]:
# 74 (tuple은 원소의 값을 변경x)

In [ ]:
t = (1, 2, 3)
t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment

In [ ]:
# 75

In [29]:
t = 1, 2, 3, 4
type(t)

tuple

In [ ]:
# 76

In [31]:
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

In [ ]:
# 77

In [ ]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')

In [32]:
data = list(interest)

In [33]:
type(interest)

list

In [ ]:
#78

In [48]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']

In [49]:
data = tuple(interest)

TypeError: 'tuple' object is not callable

In [42]:
type(interest)

list

In [ ]:
# 79

In [47]:
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [ ]:
# 80 (range)

In [ ]:
(2, 4, 6, 8 ... 98)

In [51]:
data = tuple(range(2, 100, 2))
print(data)

TypeError: 'tuple' object is not callable

# 파이썬 딕셔너리

In [ ]:
# 81 (start expression)

In [54]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
# 82

In [57]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
#83

In [56]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
#84

In [58]:
temp = {}

In [59]:
type(temp)

dict

In [ ]:
#85

In [60]:
ice = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
#86

In [62]:
ice = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#87

In [64]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ",ice["메로나"])

메로나 가격:  1000

In [ ]:
#88

In [70]:
ice["메로나"] = 1300

In [ ]:
#89

In [72]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice["메로나"]
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
#90 (딕셔너리에 없는 키를 사용 인덱싱-> 에러)

In [ ]:
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'

In [ ]:
# 91(딕셔너리 생성)

In [73]:
inventory = {"메로나": [300,20], "비비빅": [400,3], "죠스바": [250,100]}
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [ ]:
# 92(딕셔너리 인덱싱)

In [75]:
inventory = {"메로나": [300,20], "비비빅": [400,3], "죠스바": [250,100]}
print(inventory["메로나"][0], "원")

300 원

In [ ]:
# 93(딕셔너리 인덱싱)

In [76]:
inventory = {"메로나": [300,20], "비비빅": [400,3], "죠스바": [250,100]}
print(inventory["메로나"][1], "개")

20 개

In [ ]:
# 94(딕셔너리 추가)

In [77]:
inventory = {"메로나": [300,20], "비비빅": [400,3], "죠스바": [250,100]}
inventory["월드콘"] = [500,7]
print(inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
# 95(딕셔너리 keys() 메서드 )

In [78]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [ ]:
# 96(딕셔너리 keys() 메서드 )

In [80]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(price)

[1200, 1200, 1800, 1500, 1000]

In [ ]:
# 97(딕셔너리 values() 메서드 )

In [81]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [ ]:
# 98(딕셔너리 update 메서드)

In [83]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
# 99(zip과 dict)

In [85]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [ ]:
# 100(zip과 dict)

In [87]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}

# 파이썬 분기문

In [ ]:
# 101 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [ ]:
`bool` 타입

In [ ]:
# 102

In [1]:
print(3 == 5)

False

In [ ]:
# 103

In [2]:
print(3 < 5)

True

In [ ]:
# 104

In [3]:
x = 4
print(1 < x < 5)

True

In [ ]:
# 105

In [4]:
print ((3 == 3) and (4 != 3))

True

In [ ]:
# 106 (지원하지 않는 연산자)

In [5]:
print(3 => 4)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3612698823.py, line 1)

In [ ]:
# 107

In [6]:
if 4 < 3:
    print("Hello World")

In [ ]:
# 108

In [7]:
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")

Hi, there.

In [ ]:
# 109

In [8]:
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

1
2
4

In [ ]:
# 110

In [9]:
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

3
5

In [ ]:
# 111

In [10]:
user = input("입력:")
print(user * 2)

입력:안녕하세요
안녕하세요안녕하세요

In [ ]:
# 112

In [11]:
user = input("숫자를 입력하세요: ")
print(10 + int(user))

숫자를 입력하세요: 30
40

In [ ]:
# 113

In [12]:
user = input("")
if int(user) %2 == 0:
    print("짝수")
else:
    print("홀수")

30
짝수

In [ ]:
# 114

In [13]:
user = input("입력값:")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:200
220

In [14]:
user = input("입력값:")
num = 20 + int(user)
if num > 255:
    print(255)
else:
    print(num)

입력값:240
255

In [ ]:
# 115

In [15]:
user = input("입력값:")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:200
180

In [16]:
user = input("입력값:")
num = int(user) - 20
if num > 255:
    print(255)
elif num < 0:
    print(0)
else:
    print(num)

입력값:15
0

In [ ]:
# 116

In [18]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 02:00
정각 입니다.

In [19]:
time = input("현재시간: ")
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

현재시간: 03:10
정각이 아닙니다.

In [ ]:
# 117

In [21]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?사과
정답입니다.

In [22]:
fruit = ["사과", "포도", "홍시"]
user = input("좋아하는 과일은?")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은?수박
오답입니다.

In [ ]:
# 118

In [26]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
종목 = input("종목명 ")
if 종목 in warn_investment_list:
    print("투자 경고 종목입니다.")
else:
    print("투자 경고 종목이 아닙니다.")

종목명 Microsoft
투자 경고 종목입니다.

In [ ]:
# 119

In [27]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 봄
정답입니다.

In [29]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("제가좋아하는계절은: ")
if user in fruit:
    print("정답입니다.")
else:
    print("오답입니다.")

제가좋아하는계절은: 겨울
오답입니다.

In [ ]:
# 120

In [32]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
user = input("좋아하는과일은?: ")
if user in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는과일은?: 딸기
정답입니다.

In [ ]:
# 121

In [33]:
user = input("")
if user.islower():
    print(user.upper())
else:
    print(user.lower())

a
A

In [ ]:
# 122

In [34]:
score = input("score: ")
score = int(score)
if 81 <= score <= 100:
    print("grade is A")
elif 61 <= score <= 80:
    print("grade is B")
elif 41 <= score <= 60:
    print("grade is C")
elif 21 <= score <= 40:
    print("grade is D")
else:
    print("grade is E")

score: 90
grade is A

In [ ]:
# 123

In [ ]:
환율 = {"달러": 1167, 
        "엔": 1.096, 
        "유로": 1268, 
        "위안": 171}
user = input("입력: ")
num, currency = user.split()
print(float(num) * 환율[currency], "원")

In [ ]:
money =str(input())

if money[-2:] == '달러':
    print(int(money[:-3])* 1167, '원')

In [ ]:
# 124

In [40]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
num1 = int(num1)
num2 = int(num2)
num3 = int(num3)

if num1 >= num2 and num1 >= num3:
    print(num1)
elif num2 >= num1 and num2 >= num3:
    print(num2)
else:
    print(num3)

input number1: 10
input number2: 9
input number3: 20
20

In [ ]:
# 125

In [41]:
number = input("휴대전화 번호 입력: ")
num = number.split("-")[0]
if num == "011":
    com = "SKT"
elif num == "016":
    com = "KT"
elif num == "019":
    com = "LGU"
else:
    com = "알수없음"
print(f"당신은{com} 사용자입니다.")

휴대전화 번호 입력: 011-345-1922
당신은SKT 사용자입니다.

In [ ]:
# 126

In [42]:
우편번호 = input("우편번호: ")
우편번호 = 우편번호[:3]
if 우편번호 in ["010", "011", "012"]:
    print("강북구")
elif 우편번호 in ["014", "015", "016"]:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
도봉구

In [ ]:
# 127

In [43]:
주민번호 = input("주민등록번호: ")
주민번호 = 주민번호.split("-")[1]
if 주민번호[0] == "1" or 주민번호[0] == "3":
    print("남자")
else:
    print("여자")

주민등록번호: 821010-1635210
남자

In [ ]:
# 128

In [44]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 821010-1635210
서울이 아닙니다.

In [45]:
주민번호 = input("주민등록번호: ")
뒷자리 = 주민번호.split("-")[1]
if 0 <= int(뒷자리[1:3]) <= 8:
    print("서울입니다.")
else:
    print("서울이 아닙니다.")

주민등록번호: 861010-1015210
서울입니다.

In [ ]:
# 129

In [46]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

In [47]:
num = input("주민등록번호: ")
계산1 = int(num[0]) * 2 + int(num[1]) * 3 + int(num[2]) * 4 + int(num[3]) * 5 + int(num[4]) * 6 + \
        int(num[5]) * 7 + int(num[7]) * 8 + int(num[8]) * 9 + int(num[9]) * 2 + int(num[10])* 3 + \
        int(num[11])* 4 + int(num[12]) * 5
계산2 = 11 - (계산1 % 11)
계산3 = str(계산2)

if num[-1] == 계산3[-1]:
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록번호: 8210101635210
유효하지 않은 주민등록번호입니다.

In [ ]:
# 130

In [48]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

# 파이썬 반복문

In [ ]:
# 131 (for)

In [49]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [ ]:
# 132

In [50]:
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [ ]:
# 133

In [51]:
for 변수 in ["A", "B", "C"]:
  print(변수)

A
B
C

In [52]:
print("A")
print("B")
print("C")

A
B
C

In [53]:
변수 = "A"
print(변수)
변수 = "B"
print(변수)
변수 = "C"
print(변수)

A
B
C

In [ ]:
# 134

In [54]:
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

출력: A
출력: B
출력: C

In [56]:
print("출력:", "A")
print("출력:", "B")
print("출력:", "C")

출력: A
출력: B
출력: C

In [ ]:
# 135

In [57]:
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)

변환: a
변환: b
변환: c

In [58]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

In [ ]:
# 136

In [59]:
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

10
20
30

In [60]:
리스트 = [10, 20, 30]
for 변수 in 리스트:
    print(변수)

10
20
30

In [ ]:
# 137

In [61]:
print(10)
print(20)
print(30)

10
20
30

In [63]:
for 변수 in [10, 20, 30]:
  print(변수)

10
20
30

In [ ]:
# 138

In [64]:
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

10
-------
20
-------
30
-------

In [65]:
for 변수 in [10, 20, 30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

In [ ]:
# 139

In [66]:
print("++++")
print(10)
print(20)
print(30)

++++
10
20
30

In [69]:
print("++++")
for 변수 in [10, 20, 30]:
  print(변수)

++++
10
20
30

In [ ]:
# 140

In [70]:
print("-------")
print("-------")
print("-------")
print("-------")

-------
-------
-------
-------

In [71]:
for 변수 in [1, 2, 3, 4]:
  print("-------")

-------
-------
-------
-------

In [ ]:
# 141

In [72]:
리스트 = [100, 200, 300]
for 변수 in 리스트:
    print(변수 + 10)

110
210
310

In [ ]:
# 142

In [73]:
리스트 = ["김밥", "라면", "튀김"]
for 메뉴 in 리스트:
    print("오늘의 메뉴: " + 메뉴)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [ ]:
# 143

In [74]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for 종목명 in 리스트:
    print(len(종목명))

6
4
4

In [ ]:
# 144

In [75]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물, len(동물))

dog 3
cat 3
parrot 6

In [ ]:
# 145

In [76]:
리스트 = ['dog', 'cat', 'parrot']
for 동물 in 리스트:
    print(동물[0])

d
c
p

In [ ]:
# 146

In [80]:
리스트 = [1, 2, 3]
for 숫자 in 리스트:
    print("3 *", 숫자)

3 * 1
3 * 2
3 * 3

In [81]:
리스트 = [1, 2, 3]
for 숫자 in 리스트:
    print("3 x", 숫자)

3 x 1
3 x 2
3 x 3

In [ ]:
# 147

In [82]:
리스트 = [1, 2, 3]
for 변수 in 리스트:
    print("3 x {} = {}".format(변수, 3 * 변수))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [ ]:
# 148

In [84]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[1:]:
    print(변수)

나
다
라

In [ ]:
# 149

In [85]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :2]:
    print(변수)

가
다

In [ ]:
# 150

In [86]:
리스트 = ["가", "나", "다", "라"]
for 변수 in 리스트[: :-1]:
    print(변수)

라
다
나
가

In [ ]:
# 151

In [1]:
리스트 = [3, -20, -3, 44]
for 변수 in 리스트:
    if 변수 < 0:
        print(변수)

-20
-3

In [ ]:
# 152

In [5]:
리스트 = [3, 100, 23, 44]
for 변수 in 리스트:
    if (변수 %3 == 0):
        print(변수)

3

In [ ]:
# 153

In [4]:
리스트 = [13, 21, 12, 14, 30, 18]
for 변수 in 리스트:
    if (변수 < 20) and (변수 % 3 == 0):
        print(변수)

12
18

In [ ]:
# 154

In [10]:
리스트 = ["I", "study", "python", "language", "!"]
for 변수 in 리스트:
  if len(변수) >= 3:
    print(변수)

study
python
language

In [ ]:
# 155

In [13]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
   if 변수.isupper():
    print(변수)

A
D

In [ ]:
# 156

In [18]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
    if 변수.islower():
        print(변수)

b
c

In [19]:
리스트 = ["A", "b", "c", "D"]
for 변수 in 리스트:
  if not 변수.isupper():
    print(변수)

b
c

In [ ]:
# 157

In [23]:
리스트 = ['dog', 'cat', 'parrot']
for 변수 in 리스트:
    print(변수[0].upper() + 변수[1:])

Dog
Cat
Parrot

In [ ]:
# 158

In [25]:
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for 변수 in 리스트:
    split = 변수.split(".")
    print(split[0])

hello
ex01
intro

In [ ]:
# 159

In [27]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if split[1] == "h":
        print(변수)

intra.h
define.h

In [ ]:
# 160

In [28]:
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for 변수 in 리스트:
    split = 변수.split(".")
    if (split[1] == "h") or (split[1] == "c"):
        print(변수)

intra.h
intra.c
define.h

In [ ]:
# 161 (for, range)

In [32]:
list(range(3))

[0, 1, 2]

In [33]:
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# 162

In [35]:
for x in range(2002, 2051, 4) :
    print(x)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [ ]:
# 163

In [38]:
for number in range(3, 31, 3):
    print(number)

3
6
9
12
15
18
21
24
27
30

In [ ]:
# 164

In [41]:
for num in range(100):
    print(99- num)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
# 165

In [43]:
for num in range(10):
    print(num / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [ ]:
# 166

In [51]:
for i in range(1,10) :
    print(3, "x", i, "=", 3 * i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [ ]:
# 167

In [44]:
num = 3
for i in range(1,10) :
    if i % 2 == 1:
        print(num, "x", i, "=", num * i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [45]:
num =3
for i in range(1, 10, 2):
    print(num, "x", i, "=", num * i)

3 x 1 = 3
3 x 3 = 9
3 x 5 = 15
3 x 7 = 21
3 x 9 = 27

In [ ]:
# 168

In [49]:
합 = 0
for i in range(1,11):
    합 += i
    print (합)

1
3
6
10
15
21
28
36
45
55

In [50]:
hab = 0
for i in range(1, 11):
    hab += i
print ("합 :", hab)

합 : 55

In [ ]:
# 169

In [54]:
hab = 0
for i in range(1, 11, 2):
    hab += i
print ("합 :", hab)

합 : 25

In [ ]:
# 170

In [57]:
multi = 1
for i in range(1, 11):
    multi *= i
print (multi)

3628800

In [ ]:
# 171 (for, range)

In [59]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [ ]:
# 172

In [61]:
price_list = [32100, 32150, 32000, 32500]
for i, data in enumerate(price_list):
    print(i, data)

0 32100
1 32150
2 32000
3 32500

In [ ]:
# 173

In [62]:
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print((len(price_list) -1) -i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [ ]:
# 174

In [63]:
price_list = [32100, 32150, 32000, 32500]
for i in range(1,4):
    print(90 + 10 * i, price_list[i])

100 32150
110 32000
120 32500

In [ ]:
# 175

In [64]:
my_list = ["가", "나", "다", "라"]
for i in range(1, len(my_list)) :
    print(my_list[i-1], my_list[i])

가 나
나 다
다 라

In [ ]:
#176

In [65]:
for i in range( len(my_list) - 2 ):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라

In [66]:
for i in range( 1, len(my_list) - 1 ):
    print(my_list[i-1], my_list[i], my_list[i+1])

가 나 다
나 다 라

In [67]:
for i in range( 2, len(my_list) ):
    print(my_list[i-2], my_list[i-1], my_list[i])

가 나 다
나 다 라

In [ ]:
# 177

In [68]:
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [ ]:
# 178

In [69]:
my_list = [100, 200, 400, 800]
for i in [0, 1, 2]:
    print(abs(my_list[i+1] - my_list[i]))

100
200
400

In [ ]:
# 179

In [70]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in [1, 2, 3, 4]:
    print(abs(my_list[i-1] + my_list[i] + my_list[i+1]) / 3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [ ]:
# 180

In [72]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

In [73]:
volatility = []
for i in range(len(low_prices)) :
    volatility.append(high_prices[i] - low_prices[i])

In [ ]:
# 181

In [74]:
apart = [ ["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [ ]:
# 182

In [75]:
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [ ]:
# 183

In [76]:
stock = {"시가": [100, 200, 300], "종가": [80,210, 330]}

In [ ]:
# 184

In [77]:
stock = {"10/10": [80, 110, 70, 90], "10/11": [210, 230, 190, 200] }

In [ ]:
# 185

In [78]:
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [ ]:
# 186

In [79]:
for row in apart[::-1]:
    for col in row:
        print(col,"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [ ]:
# 187

In [80]:
for row in apart[::-1]:
    for col in row[::-1]:
        print(col,"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [ ]:
# 188

In [82]:
for row in apart:
    for col in row:
        print(col, "호")
        print("-" * 5)

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [ ]:
# 189

In [84]:
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [ ]:
# 190

In [85]:
for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [ ]:
# 191

In [86]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for line in data:
    for column in line:
        print(column * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [ ]:
# 192

In [90]:
for line in data:
    for column in line:
        print(column * 1.00014)
    print("-----")

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [ ]:
# 193

In [91]:
result = []
for line in data:
    for column in line:
        result.append(column * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [ ]:
# 194

In [92]:
result = []
for line in data:
    sub = []
    for column in line:
        sub.append(column * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [ ]:
# 195

In [93]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[3])

100
190
310

In [ ]:
# 196

In [94]:
for row in ohlc[1:]:
    if(row[3] > 150):
        print(row[3])

190
310

In [ ]:
# 197

In [95]:
for row in ohlc[1:]:
    if(row[3] >= row[0]):
        print(row[3])

100
310

In [ ]:
# 198

In [99]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [104]:
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1]-row[2])
    print(volatility)

[40]
[40, 30]
[40, 30, 10]

In [101]:
volatility = []
for i in range(1, len(ohlc)):
    volatility.append(ohlc[i][1]-ohlc[i][2])
print(volatility)

[40, 30, 10]

In [ ]:
# 199

In [105]:
for row in ohlc[1:]:
    if row[3] > row[0]:
        print(row[1]-row[2])

10

In [ ]:
# 200

In [107]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

In [109]:
profit = 0
for row in ohlc[1:]:
    profit += (row[3] - row[0])
    print(profit)

0
-10
0

In [ ]:
파이썬 함수

In [ ]:
# 201

In [1]:
def print_coin():
    print("비트코인")

In [ ]:
# 202

In [3]:
print_coin()

비트코인

In [ ]:
# 203

In [6]:
for i in range(100):
    print_coin()

비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인
비트코인

In [ ]:
# 204

In [7]:
def print_coins():
    for i in range(100):
        print("비트코인")

In [ ]:
# 205

In [8]:
hello()
def hello():
    print("Hi")

NameError: name 'hello' is not defined

In [ ]:
# 206

In [9]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

In [ ]:
# 207

In [10]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

In [ ]:
# 208

In [11]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

In [ ]:
# 209

In [12]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

In [ ]:
# 210

In [13]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

In [ ]:
# 211

In [14]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

In [ ]:
# 212

In [15]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

In [ ]:
# 213

In [17]:
def 함수(문자열) :
    print(문자열)

In [ ]:
# 214

In [19]:
def 함수(a, b) :
    print(a + b) # 덧셈연산 의도 설계, 문자열+ 숫자는 인식X 에러가 발생 
    
함수("안녕", 3)

TypeError: can only concatenate str (not "int") to str

In [ ]:
# 215

In [21]:
def print_with_smile (string) :
    print (string + ":D")

In [ ]:
# 216

In [22]:
print_with_smile("안녕하세요")

안녕하세요:D

In [ ]:
# 217

In [23]:
def print_upper_price(price):
    print(price * 1.3)

In [ ]:
# 218

In [25]:
def print_sum (a, b):
    print(a + b)

In [ ]:
# 219

In [26]:
def print_arithmetic_operation(a, b):
    print(a, "+", b, "=", a + b)
    print(a, "-", b, "=", a - b)
    print(a, "*", b, "=", a * b)
    print(a, "/", b, "=", a / b)

In [27]:
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [ ]:
# 220

In [28]:
def print_max(a, b, c) :
    max_val = 0
    if a > max_val :
        max_val = a
    if b > max_val :
        max_val = b
    if c > max_val :
        max_val = c
    print(max_val)

In [ ]:
# 221

In [38]:
def print_reverse(string) :
    print(string[::-1])

In [39]:
print_reverse("python")

nohtyp

In [ ]:
# 222

In [40]:
def print_score(score_list) :
    print(sum(score_list)/len(score_list))

In [42]:
print_score([1, 2, 3])

2.0

In [ ]:
# 223

In [43]:
def print_even (my_list) :
    for i in my_list :
        if i %2 == 0:
            print(i)

In [44]:
print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

In [ ]:
# 224

In [47]:
def print_keys(dic):
    for keys in dic.keys():
        print(keys)

In [48]:
print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [ ]:
# 225

In [50]:
def print_value_by_key (my_dict, key) :
    print(my_dict[key])

In [51]:
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

In [52]:
print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

In [ ]:
# 226

In [55]:
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

In [56]:
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [ ]:
# 227

In [69]:
def print_mxn(line, num):
    chunk_num = int(len(line) / num)
    for x in range(chunk_num + 1) :
        print(line[x * num: x * num + num])

In [71]:
print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [ ]:
# 228

In [67]:
def calc_monthly_salary(annual_pay) :
    monthly_pay = int(annual_pay / 12)
    return monthly_pay

In [68]:
calc_monthly_salary(12000000)

1000000

In [ ]:
# 229

In [72]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

In [ ]:
# 230

In [73]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

In [ ]:
# 231

In [74]:
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)   #return

NameError: name 'result' is not defined

In [ ]:
# 232

In [75]:
def make_url(string) :
    url = "www." + string + ".com"
    return url

In [76]:
make_url("naver")

'www.naver.com'

In [77]:
make_url("google")

'www.google.com'

In [ ]:
# 233

In [78]:
def make_list(string):
    my_list = []
    for 변수 in string:
        my_list.append(변수)
    return my_list

In [79]:
make_list("abcd")

['a', 'b', 'c', 'd']

In [ ]:
# 234

In [80]:
def pickup_even(items):
    result = []
    for item in items:
        if item % 2 == 0:
            result.append(item)
    return result

In [81]:
pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [ ]:
# 235

In [82]:
def convert_int (string):
    return int(string.replace(',', ''))

In [83]:
convert_int("1,234,567")

1234567

In [ ]:
# 236

In [84]:
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

In [ ]:
# 237

In [85]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

In [ ]:
# 238

In [86]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

In [ ]:
# 239

In [87]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

In [ ]:
# 240

In [88]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28

In [ ]:
# 251

In [ ]:
# 클래스 = 과자틀, 객체 = 과자 틀로 찍어낸 과자

In [ ]:
# 252

In [1]:
class Human:
    pass

In [ ]:
# 253

In [2]:
areum = Human()

In [ ]:
# 254

In [5]:
class Human:
    def __init__(self):
        print("응애응애")

areum = Human()

응애응애

In [ ]:
#  255

In [10]:
class Human:
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [7]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.name)

아름

In [ ]:
# 256

In [11]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

areum = Human("아름", 25, "여자")
print(areum.age)

25

In [ ]:
# 257

In [12]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{}, 나이:{}, 성별:{}".format(self.name, self.age, self.sex))
        
areum = Human("아름", 25, "여자")
areum.who()

이름:아름, 나이:25, 성별:여자

In [ ]:
# 258

In [15]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
    def who(self):
        print("이름:{}, 나이:{}, 성별:{}".format(self.name, self.age, self.sex))
        
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex
        
areum = Human("불명", "미상", "모름")
areum.who()

areum .setInfo("아름", 25, "여자")
areum.who()

이름:불명, 나이:미상, 성별:모름
이름:아름, 나이:25, 성별:여자

In [16]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))

    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex


areum = Human("불명", "미상", "모름")
areum.who()      # Human.who(areum)

areum.setInfo("아름", 25, "여자")
areum.who()      # Human.who(areum)

이름: 불명 나이: 미상 성별: 모름
이름: 아름 나이: 25 성별: 여자

In [ ]:
# 259

In [17]:
class Human:
    def __init__(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex

    def __del__(self):
        print("나의 죽음을 알리지마라")
        
        
    def who(self):
        print("이름: {} 나이: {} 성별: {}".format(self.name, self.age, self.sex))
        
    def setInfo(self, name, age, sex):
        self.name = name
        self.age = age
        self.sex = sex        

areum = Human("아름", 25, "여자")
del(areum)

나의 죽음을 알리지마라

In [ ]:
# 260

In [21]:
class OMG : 
    def print() :
        print("Oh my god")

 myStock = OMG()
 myStock.print()
TypeError Traceback (most recent call last)
<ipython-input-233-c85c04535b22> in <module>()
----> myStock.print()

TypeError: print() takes 0 positional arguments but 1 was given

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)

In [ ]:
# 261

In [22]:
class Stock:
    pass

In [ ]:
# 262

In [23]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        

삼성 = Stock("삼성전자", "005930")
print(삼성.name)
print(삼성.code)

삼성전자
005930

In [ ]:
# 263

In [28]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code

    def set_name(self, name):
        self.name = name

a = Stock(None, None)
a.set_name("삼성전자")
print(a.name)

삼성전자

In [ ]:
# 264

In [27]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
a = Stock(None, None)
a.set_code("005930")
print(a.code)

005930

In [ ]:
# 265

In [29]:
class Stock:
    def __init__(self, name, code):
        self.name = name
        self.code = code
        
    def set_name(self, name):
        self.name = name
        
    def set_code(self, code):
        self.code = code
        
    def get_name(self):
        return self.name
        
    def get_code(self):
        return self.code    
        
삼성 = Stock("삼성전자", "005930")     
print(삼성.name)
print(삼성.code)
print(삼성.get_name())
print(삼성.get_code())

삼성전자
005930
삼성전자
005930

In [ ]:
# 266

In [31]:
class Stock:
    def __init__(self, name, code, per, pbr, 배당수익률):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.배당수익률 = 배당수익률

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

In [ ]:
# 267

In [32]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
print(삼성.배당수익률)

2.83

In [ ]:
# 268

In [33]:
class Stock:
    def __init__(self, name, code, per, pbr, dividend):
        self.name = name
        self.code = code
        self.per = per
        self.pbr = pbr
        self.dividend = dividend

    def set_name(self, name):
        self.name = name

    def set_code(self, code):
        self.code = code

    def get_name(self):
        return self.name

    def get_code(self):
        return self.code

    def set_per(self, per):
        self.per = per

    def set_pbr(self, pbr):
        self.pbr = pbr

    def set_dividend(self, dividend):
        self.dividend = dividend

In [ ]:
# 269

In [34]:
삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
삼성.set_per(12.75)
print(삼성.per)

12.75

In [ ]:
# 270

In [35]:
종목 = []

삼성 = Stock("삼성전자", "005930", 15.79, 1.33, 2.83)
현대차 = Stock("현대차", "005380", 8.70, 0.35, 4.27)
LG전자 = Stock("LG전자", "066570", 317.34, 0.69, 1.37)

종목.append(삼성)
종목.append(현대차)
종목.append(LG전자)

for i in 종목:
    print(i.code, i.per)

005930 15.79
005380 8.7
066570 317.34

In [ ]:
# 271

In [36]:
import random

class Account:
    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      
        num2 = str(num2).zfill(2)     
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  

kim = Account("김민수", 100)
print(kim.name)
print(kim.balance)
print(kim.bank)
print(kim.account_number)

김민수
100
SC은행
003-36-213395

In [ ]:
# 272

In [37]:
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      
        num2 = str(num2).zfill(2)      
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3 

        Account.account_count += 1


kim = Account("김민수", 100)
print(Account.account_count)
lee = Account("이민수", 100)
print(Account.account_count)

1
2

In [ ]:
# 273

In [38]:
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)      
        num2 = str(num2).zfill(2)      
        num3 = str(num3).zfill(6)    
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)    


kim = Account("김민수", 100)
lee = Account("이민수", 100)
kim.get_account_num()

2

In [ ]:
# 274

In [40]:
import random

class Account:
    # class variable
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)     
        num2 = str(num2).zfill(2)      
        num3 = str(num3).zfill(6)     
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.account_count +=1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)    

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

In [ ]:
# 275

In [41]:
import random


class Account:
    
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2)  
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

k = Account("kim", 100)
k.deposit(100)
k.withdraw(90)
print(k.balance)

110

In [ ]:
# 276

In [42]:
import random


class Account:
    
    account_count = 0

    def __init__(self, name, balance):
        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", f"{self.balance:,}")


p = Account("파이썬", 10000)
p.display_info()

은행이름:  SC은행
예금주:  파이썬
계좌번호:  606-40-101916
잔고:  10,000

In [ ]:
# 277

In [43]:
import random


class Account:
   
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2) 
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:        
               
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

p = Account("파이썬", 10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(10000)
p.deposit(5000)
p.deposit(5000)
print(p.balance)

50500.0

In [ ]:
# 278

In [44]:
import random


class Account:
  
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2)  
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count) 

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         
             
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)

data.append(k)
data.append(l)
data.append(p)

print(data)

[<__main__.Account object at 0x00000271ACA11590>, <__main__.Account object at 0x00000271ACA05910>, <__main__.Account object at 0x00000271ACA04450>]

In [ ]:
# 279

In [45]:
import random


class Account:
   
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

       
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2)  
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3 
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  

    def deposit(self, amount):
        if amount >= 1:
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         
            
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

data = []
k = Account("KIM", 10000000)
l = Account("LEE", 10000)
p = Account("PARK", 10000)
data.append(k)
data.append(l)
data.append(p)

for c in data:
    if c.balance >= 1000000:
        c.display_info()

은행이름:  SC은행
예금주:  KIM
계좌번호:  908-94-864740
잔고:  10000000

In [ ]:
# 280

In [46]:
import random


class Account:
   
    account_count = 0

    def __init__(self, name, balance):
        self.deposit_count = 0
        self.deposit_log = []
        self.withdraw_log = []

        self.name = name
        self.balance = balance
        self.bank = "SC은행"

        # 3-2-6
        num1 = random.randint(0, 999)
        num2 = random.randint(0, 99)
        num3 = random.randint(0, 999999)

        num1 = str(num1).zfill(3)  
        num2 = str(num2).zfill(2)  
        num3 = str(num3).zfill(6)  
        self.account_number = num1 + '-' + num2 + '-' + num3  
        Account.account_count += 1

    @classmethod
    def get_account_num(cls):
        print(cls.account_count)  

    def deposit(self, amount):
        if amount >= 1:
            self.deposit_log.append(amount)
            self.balance += amount

            self.deposit_count += 1
            if self.deposit_count % 5 == 0:         
              
                self.balance = (self.balance * 1.01)


    def withdraw(self, amount):
        if self.balance > amount:
            self.withdraw_log.append(amount)
            self.balance -= amount

    def display_info(self):
        print("은행이름: ", self.bank)
        print("예금주: ", self.name)
        print("계좌번호: ", self.account_number)
        print("잔고: ", self.balance)

    def withdraw_history(self):
        for amount in self.withdraw_log:
            print(amount)

    def deposit_history(self):
        for amount in self.deposit_log:
            print(amount)


k = Account("Kim", 1000)
k.deposit(100)
k.deposit(200)
k.deposit(300)
k.deposit_history()

k.withdraw(100)
k.withdraw(200)
k.withdraw_history()

100
200
300
100
200

In [ ]:
# 281

In [47]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


car = 차(2, 1000)
print(car.바퀴)
print(car.가격)

2
1000

In [ ]:
# 282

In [48]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    pass

In [ ]:
# 283

In [49]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


bicycle = 자전차(2, 100)
print(bicycle.가격)

100

In [ ]:
# 284

In [50]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        #차.__init__(self, 바퀴, 가격)
        self.구동계 = 구동계


bicycle = 자전차(2, 100, "시마노")
print(bicycle.구동계)
print(bicycle.바퀴)

시마노
2

In [ ]:
# 285

In [51]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격


class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)


car = 자동차(4, 1000)
car.정보()

바퀴수  4
가격  1000

In [ ]:
# 286

In [53]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100

In [ ]:
# 287

In [54]:
class 차:
    def __init__(self, 바퀴, 가격):
        self.바퀴 = 바퀴
        self.가격 = 가격

    def 정보(self):
        print("바퀴수 ", self.바퀴)
        print("가격 ", self.가격)

class 자동차(차):
    def __init__(self, 바퀴, 가격):
        super().__init__(바퀴, 가격)

class 자전차(차):
    def __init__(self, 바퀴, 가격, 구동계):
        super().__init__(바퀴, 가격)
        self.구동계 = 구동계

    def 정보(self):
        super().정보()
        print("구동계 ", self.구동계)

bicycle = 자전차(2, 100, "시마노")
bicycle.정보()

바퀴수  2
가격  100
구동계  시마노

In [ ]:
# 288

In [55]:
class 부모:
    def 호출(self):
        print("부모호출")

class 자식(부모):
    def 호출(self):
        print("자식호출")


나 = 자식()
나.호출()

자식호출

In [ ]:
# 289

In [56]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")

나 = 자식()

자식생성

In [ ]:
# 290

In [57]:
class 부모:
    def __init__(self):
        print("부모생성")

class 자식(부모):
    def __init__(self):
        print("자식생성")
        super().__init__()

나 = 자식()

자식생성
부모생성

In [ ]:
# 291

In [8]:
f = open("C:\workspace\WASSUP2\wassup2\python_grammar/매수종목1.txt", mode="wt", encoding="utf-8")
f.write("005930\n")
f.write("005380\n")
f.write("035420")
f.close()

In [ ]:
# 292

In [7]:
f = open("C:\workspace\WASSUP2\wassup2\python_grammar/매수종목2.txt", mode="wt", encoding="utf-8")
f.write("005930 삼성전자\n")
f.write("005380 현대차\n")
f.write("035420 NAVER\n")
f.close()

In [ ]:
# 293

In [9]:
import csv

f = open("C:\workspace\WASSUP2\wassup2\python_grammar/매수종목.csv", mode="wt", encoding="cp949", newline='')
writer = csv.writer(f)
writer.writerow(["종목명", "종목코드", "PER"])
writer.writerow(["삼성전자", "005930", 15.59])
writer.writerow(["NAVER", "035420", 55.82])
f.close()

In [ ]:
# 294

In [11]:
f = open("C:\workspace\WASSUP2\wassup2\python_grammar/매수종목1.txt", encoding="utf-8")
lines = f.readlines()  

codes = []
for line in lines:
    code = line.strip()  
    codes.append(code)

print(codes)

f.close()

['005930', '005380', '035420']

In [ ]:
# 295

In [12]:
f = open("C:\workspace\WASSUP2\wassup2\python_grammar/매수종목2.txt", encoding="utf-8")
lines = f.readlines()  

data = {}
for line in lines:
    line = line.strip()    
    k, v = line.split()
   
    data[k] = v

print(data)
f.close()

{'005930': '삼성전자', '005380': '현대차', '035420': 'NAVER'}

In [ ]:
# 296

In [14]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)

10.31
0
8.0

In [ ]:
# 297

In [15]:
per = ["10.31", "", "8.00"]
new_per = []

for i in per:
    try:
        v = float(i)
    except:
        v = 0
    new_per.append(v)

print(new_per)

[10.31, 0, 8.0]

In [ ]:
# 298

In [17]:
try:
    b = 3 / 0
except ZeroDivisionError:
    print("0으로 나누면 에러가 발생해요")

0으로 나누면 에러가 발생해요

In [ ]:
# 299

In [18]:
data = [1, 2, 3]

for i in range(5):
    try:
        print(data[i])
    except IndexError as e:
        print(e)

1
2
3
list index out of range
list index out of range

In [ ]:
# 300

In [19]:
per = ["10.31", "", "8.00"]

for i in per:
    try:
        print(float(i))
    except:
        print(0)
    else:
        print("clean data")
    finally:
        print("변환 완료")

10.31
clean data
변환 완료
0
변환 완료
8.0
clean data
변환 완료